@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&family=Open+Sans:wght@300;500&family=Source+Sans+Pro&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}
card {
  margin: 20px;
  box-shadow: 1rem 1rem 1rem grey;
  overflow: hidden;
  object-fit: cover;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cardMain {
  width: 45%;
}

.card:hover {
  transform: rotate(0.5deg) skewX(-1deg);
  box-shadow: 1rem 1rem 1rem grey;
}
.buttonEvent {
  background-color: red !important;
  color: white;
}
.buttonSelected {
  background-color: darkblue !important;
  color: white;
  padding-top: 5rem;
}
.buttonDisabled {
  background-color: grey !important;
  color: white;
  cursor: not-allowed;
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 90%;
    margin: 20px auto;
  }
  .card .cardContent {
    font-size: 15px;
  }
  .card .cardContent .Typography {
    font-size: 20px;
  }
  .cardMain {
    width: 90%;
  }
}
