card {
  margin: 20px;
}
.buttonEvent {
  background-color: red !important;
  color: white;
}
.buttonSelected {
  background-color: darkblue !important;
  color: white;
}
.buttonDisabled {
  background-color: lightgrey !important;
  color: white;
  cursor: not-allowed;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 90%;
    margin: 20px auto;
  }
  .card .cardContent {
    font-size: 15px;
  }
  .card .cardContent .Typography {
    font-size: 20px;
  }
}
