@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;800&family=Open+Sans:wght@300;500&family=Source+Sans+Pro&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}
.heading {
  font-size: 3rem;
  font-weight: 1500;
  color: black;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  padding-left: 25%;
}
.container {
  border: solid black;
  padding: 16px;
  display: flex;
  height: 100% !important;
  background-color: #dcddde;
  overflow: auto;
}
.divContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  overflow: auto;
}

.gridContainer {
  border: solid black;
  height: 1100px;
  padding-bottom: 15px;
  margin-right: 2.5px;
  margin-left: 2.5px;
  overflow: auto;
}
.eventContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1rem;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  .divContainer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, auto);
  }
  .gridContainer:nth-child(2) {
    grid-row: 2 / span 1;
  }
}
